.text-uppercase {
    text-transform: uppercase;
}
.text-lowercase {
    text-transform: lowercase;
}

.text-justify {
    text-align: justify;
}
.text-center {
    text-align: center;
}

.subtitle-line-spacing {
    line-height: 1.2em;
}
