{
    "extends": "airbnb",
    "rules":
    {
        "react/jsx-filename-extension": "off",
        "react/prop-types": "off",
        "react/require-default-props": "off",
        "jsx-a11y/href-no-hash": "off",
        "class-methods-use-this": "off",
        "import/no-extraneous-dependencies": "off",
        "jsx-a11y/anchor-is-valid": ["warn",
        {
            "aspects": ["invalidHref"]
        }],
        "react/no-array-index-key": "off",
        "react/jsx-indent": ["error", 4],
        "indent": ["error", 4],
        "quotes": "off",
        "prefer-const": 1,
        "no-unused-vars": 0, /* Allow unused variables. Good for leaving unused function parameters visible */
        "arrow-body-style": "off",
        "spaced-comment": "off",
        "no-trailing-spaces": "off",
        "object-curly-spacing": "off",
        "react/forbid-prop-types": "off",
        "react/prefer-stateless-function": "off"
    }
}
