@import '../../../sass/_settings.scss';

$content-width: 910px;

#teaser-container {
    width: 100%;
    max-width: $content-width;
    max-height: calc(100vh - 178px);

    padding: 0 10px 20px;
    margin: 0 auto;
    box-sizing: border-box;

    overflow-y: auto;
    color: white;
}

#teaser-background-image {
    position: fixed;
    top: 0; bottom: 0;
    left:0; right: 0;

    z-index: 0;
    opacity: 0.5;

    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: transparent;
}

#teaser-nav {
    position: fixed;
    top: 24px;
    left: 56px; right: 56px;
}
#teaser-nav__left {
    display: inline-block;
    position: absolute;
    left: 0;
    img {
        width: 36px;
        height: 36px;
    }
}
#teaser-nav__center {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#teaser-nav__right {
    float: right;
}

#teaser-content {
    position: relative; // required for z-index to work
    line-height: 1.2em;
    margin-top: 240px;
}
.teaser-content__title__logo {
    display: inline-block;
    width: 36px;
    height: 36px;

    svg {
        max-width: 100%;
        max-height: 100%;
    }
}
.teaser-content__title__logo--axis {
    margin-left: 10px;
}
.teaser-content__title__logo, .teaser-content__title__logo img {
    width: 36px;
    height: 36px;
}
#teaser-content__title__text {
    display: inline-block;
    margin-left: 15px;
}
#teaser-content__title__text h1 {
    font-size: 24px;
    line-height: 0.7em;
}
#teaser-content__title__text h5 {
    font-size: 14px;
}
#teaser-content__description {
    font-size: 17px;
    margin-top: 40px;
}
#teaser-content__credits {
    font-size: 16px;
    text-align: center;
    margin-top: 26px;
    overflow: hidden;
}
.teaser-content__credits__col {
    float: left;
    width: 50%;
    text-align: center
}

#teaser-footer {
    position: fixed;
    bottom: 33px;
    left: 0; right: 0;
    text-align: center;

    width: 100%;
    max-width: $content-width;
    margin: 0 auto;
}
#teaser-footer__status {
    margin-bottom: 30px;
    font-size: 18px;
}
#teaser-footer__player {
    max-width: 500px;
    margin: 0 auto;
    box-sizing: border-box;

    transform: translateX(-50px) scale(1.2);
    overflow: hidden;
    iframe {
        margin-right: -200px;
    }
}

@media (max-width: $mobile-width) {
    #teaser-container {
        max-height: calc(100vh - 115px);
    }
    #teaser-nav {
        left: 24px;
        right: 24px;
    }
    #teaser-content {
        margin-top: 120px;
        overflow: scroll;

        font-size: 15px;
        text-align: center;
        box-sizing: border-box;
        padding: 0 10px;

        .galaxy-chapter__content__action_subtext {
            margin-top: 34px;
            margin-bottom: 34px;
            font-size: 18px;
        }
    }
    #teaser-content__title {
        padding: 0 8px;
    }
    .teaser-content__title__logo {
        display: none;
    }
    #teaser-content__title__text {
        margin-left: 0;
    }
    #teaser-content__title__text h1 {
        font-size: 25px;
        line-height: 1.2em;
    }
    #teaser-content__title__text h5 {
        font-size: 13px;
        text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    }

    #teaser-content__description, #teaser-content__credits {
        font-size: inherit;
        line-height: inherit;
    }
    #teaser-content__description {
        margin-top: 0;
        padding: 0 12px;
    }

    #teaser-content__credits__title {
        margin-bottom: 6px;
    }
    .teaser-content__credits__col {
        float: none;
        width: 100%;
    }
    #teaser-footer {
        bottom: 64px;
    }
    #teaser-footer__player {
        width: 200px;
        max-width: 250px;

        transform: translateX(-15px) scale(1.2);
        iframe {
            margin-right: -50px;
        }
    }
}
