@import '../../../sass/_settings.scss';
@import '../../../sass/mixins/_mixins.scss';

$content-width: 910px;

#teaser-container {
    width: 100%;
    max-width: $content-width;
    max-height: calc(100vh - 178px);

    padding: 0 10px 20px;
    margin: 0 auto;
    box-sizing: border-box;

    color: white;
}

#teaser-content {
    position: relative; // required for z-index to work
    line-height: 1.2em;
    margin-top: 240px;
    padding-bottom: 100px;
}

#teaser-content__status {
    margin: 40px 0 20px;
    font-size: 18px;
}
#teaser-content__player {
    max-width: 500px;
    box-sizing: border-box;

    @include transform(scale(1.2));
    overflow: hidden;
    margin-left: -69px;

    iframe {
        margin-left: 100px;
    }
}
#teaser-content__description, #teaser-content__tracks {
    font-size: 17px;
}
#teaser-content__description {
    margin-top: 40px;

    >div {
        margin-bottom: 15px;
    };
}
#teaser-content__tracks {
    margin-top: 20px;
}
#teaser-content__credits, #teaser-content__qa, #teaser-content__script_quotes {
    font-size: 16px;
    margin-top: 60px;
}
#teaser-content__credits__title, #teaser-content__qa__title {
    margin-bottom: 20px;
    line-height: 23px;
}
.teaser-content__credits__row, .teaser-content__qa__row {
    margin-bottom: 15px;
}
.teaser-content__script_quotes__row {
    margin-bottom: 28px;
}

@media (max-width: $mobile-width) {
    #teaser-container {
        max-height: calc(100vh - 115px);
    }

    #teaser-content {
        margin-top: 0;
        overflow: scroll;

        font-size: 15px;
        box-sizing: border-box;
        padding: 0 10px 50px;

        .galaxy-chapter__content__action_subtext {
            margin-top: 34px;
            margin-bottom: 34px;
            font-size: 18px;
        }
    }
    #teaser-content__description, #teaser-content__credits, #teaser-content__qa, #teaser-content__script_quotes {
        font-size: inherit;
        line-height: inherit;
    }
    #teaser-content__description, #teaser-content__credits, #teaser-content__qa, #teaser-content__status, #teaser-content__script_quotes {
        padding-left: 10px;
        padding-right: 10px;
    }

    #teaser-content__description, #teaser-content__tracks {
        padding: 0 12px;
    }
    #teaser-content__description {
        margin-top: 30px;
    }
    #teaser-content__tracks {
        margin-top: 0;
    }

    .teaser-content__credits__col {
        float: none;
        width: 100%;
    }
    #teaser-content__status {
        margin: 0;
        text-align: center;

        .galaxy-chapter__content__action_subtext {
            margin-bottom: 0;
        }
    }
    #teaser-content__player {
        max-width: 250px;
        width: 100%;
        margin: 15px auto 30px;
        @include transform(translateX(-10px));

        iframe {
            margin: 0 25px;
        }
    }
}
