@import '../../../sass/mixins/_mixins.scss';

$galaxy-chapter-left-padding: 37px;
$chapter-transition-speed: 0.4s;

.galaxy-chapters {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    z-index: 10;
}

.galaxy-chapter-container {
    position: absolute;
    width: calc(#{$galaxy-chapter-left-padding} + 350px);
}
.galaxy-chapter-container.selected {
    color: white;

    .galaxy-chapter__index__label {
        display: inline;
    }
    .galaxy-chapter__content--alt {
        visibility: visible;
        padding-top: 0;
        opacity: 1;
        letter-spacing: normal;
    }
    .galaxy-chapter__content {
        opacity: 1;
        margin-left: 0;
        margin-right: 0;
        transform: translateX(0);
    }
    .galaxy-chapter__index__label {
        margin-left: 0;
        opacity: 1;
    }
}
.galaxy-chapter {
    position: absolute;
    top: 11px;
    left: $galaxy-chapter-left-padding;
    width: 100%;

    overflow: hidden;
}
.galaxy-chapter__index {
    font-size: 14px;
    overflow: hidden;
}
.galaxy-chapter__index__label {
    opacity: 0;
    margin-left: -5em;
    @include transition($chapter-transition-speed all ease-in-out);
}
.galaxy-chapter__content--alt {
    visibility: hidden;
    padding-top: 30px;
    opacity: 0;
    letter-spacing: 2px;
    @include transition($chapter-transition-speed all ease-in-out);
}
.galaxy-chapter__content {
    opacity: 0;
    transform: translateX(-100%);
    @include transition($chapter-transition-speed all ease-in-out);
}

.galaxy-chapter__content__name {
    font-size: 32px;
}
.galaxy-chapter__content__action {
    margin-top: 13px;
    font-size: 16px;
}
.galaxy-chapter__content__action_subtext {
    margin-top: 14px;
    opacity: 0.8;
}
