@import '../../../sass/mixins/_mixins.scss';
@import '../../../sass/_settings.scss';

$galaxy-chapter-left-padding: 37px;
$chapter-transition-speed: 0.8s;

.galaxy-chapters {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    opacity: 0;

    @include animation(fadeInGalaxy 1.2s forwards);
    @include animation-delay(0s);
}

.galaxy-chapter-container {
    position: absolute;
    width: calc(#{$galaxy-chapter-left-padding} + 350px);
}
.galaxy-chapter-container.selected {
    color: white;

    .galaxy-chapter-click-handler {
        display: none;
    }
    .galaxy-chapter__index__label {
        margin-left: 0;
        opacity: 1;
    }
    .galaxy-chapter__content {
        opacity: 1;
        @include transform(translateX(0));
    }
}
.galaxy-chapter-click-handler {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 70px;
    height: 40px;

    cursor: pointer;
    z-index: 100;
}

.galaxy-chapter {
    position: absolute;
    top: 11px;
    left: $galaxy-chapter-left-padding;
    width: 100%;
}
.galaxy-chapter__index {
    font-size: 14px;
}
.galaxy-chapter__index__label {
    opacity: 0;
    margin-left: -5em;
    @include transition($chapter-transition-speed all ease-in-out);
}
.galaxy-chapter__content {
    opacity: 0;
    @include transform(translateX(-80px));
    @include transition($chapter-transition-speed all ease-in-out);
}

.galaxy-chapter__content__name {
    font-size: 32px;
}
.galaxy-chapter__content__action {
    margin-top: 13px;
    font-size: 16px;
}
.galaxy-chapter__content__action_subtext {
    margin-top: 14px;
    opacity: 0.8;
}

@include keyframes(fadeInGalaxy) {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: $mobile-width) {
    .galaxy-chapter-container {
        position: absolute;
        width: auto;
        overflow: auto;
        height: auto;
        padding-bottom: 22px; // gives space for lines with odd line-height
        left: 24px;
        right: 24px;
    }
    .galaxy-chapter {
        position: relative;
        top: 18px;
        left: 0;
    }
}
