.icon-long-arrow {
    width: 54px;
    height: 9px;
}

.icon-short-arrow {
    width: 12px;
    height: 11px;
}

.icon-play {
    width: 12px;
    height: 13px;
    padding-left: 2px;
    padding-top: 1px;
}
