@import '../../../sass/_settings.scss';
@import '../../../sass/mixins/mixins.scss';

#galaxy-info {
    position: absolute;
    top: 50%;  bottom: 0;
    left: 0;
    @include transform(translateY(-50%));

    max-height: 600px;
    height: 90%;
    width: 70%;
    max-width: $galaxy-info-width;
    padding: 24px;
    padding-left: 100px;

    opacity: 0;
    box-sizing: border-box;

    @include animation(fadeInBio 1.2s forwards);
    @include animation-delay(0.2s);
}

.galaxy-info__header__link {
    display: inline-block;

    img {
        height: 37px;
        width: 37px;
    }
}
.galaxy-info__header__link--axis {
    margin-left: 10px;
    width: 37px;
    height: 37px;

    svg {
        max-width: 100%;
        max-height: 100%;
    }
}
.galaxy-info__header__text {
    margin-top: 10px;
    font-size: 16px;
}

.galaxy-info__content {
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));

    .title {
        font-size: 48px;
    }
    .title__name {
        display: block;
        font-size: 32px;
    }
    .subtitle {
        font-size: 16px;
    }
}

.galaxy-info__footer {
    position: absolute;
    bottom: 52px;
    font-size: 16px;
}
.galaxy-info__footer__title {
    font-size: 28px;
    margin-top: 13px;
    letter-spacing: 4px;
}


@include keyframes(fadeInBio) {
    from {
        opacity: 0;
        @include transform(translate(-20px, -50%));
    }
    to {
        opacity: 1;
        @include transform(translate(0, -50%));
    }
}

@media (max-width: $mobile-width) {
    #galaxy-info {
        position: relative;
        top: 0;

        width: 100%;
        height: calc(100vh - 24px);
        max-height: none;
        padding: 20px 24px;

        opacity: 1;

        @include transform(none);
        @include animation(none);
    }
    .galaxy-info__header__text {
        display: inline-block;
        font-size: 12px;
        line-height: 1.1em;
        margin-left: 10px;
    }
    .galaxy-info__header__link--axis {
        margin-left: 7px;
        margin-right: 5px;
    }
    .galaxy-info__content {
        position: relative;
        top: 0;
        margin-top: 10%;
        margin-bottom: 10%;
        @include transform(none);

        .title {
            font-size: 46px;
            line-height: 0.95em;
        }
        .title__name {
            display: block;
            font-size: 26px;
            padding-bottom: 4px;
        }
        .subtitle {
            font-size: 12px;
            margin-top: 8px;
            padding-right: 27px;
            line-height: 1.4em;
        }
    }
    .galaxy-info__footer {
        position: relative;
        bottom: inherit;
    }
    .galaxy-info__footer__title {
        font-size: 24px;
        letter-spacing: 1.5px;
    }
    .galaxy-info__footer__subtitle {
        font-size: 12px;
    }
}
