@import '../../../sass/_settings';
@import '../../../sass/mixins/_mixins';

$bg-opacity: 0.75;
$bg-transition-speed: 1s;

#chapter-images {}

#chapter-images__controls {
    position: fixed;
    right: 50px;
    bottom: 40px;
}
#chapter-images__controls__label {
    position: absolute;
    top: -62px;
    left: -15px;
    width: 74px;
    font-size: 14px;

    @include transform(rotate(90deg));
}

.chapter-images__caption {
    position: fixed;
    top: 25%;
    right: 15%;

    width: 100%;
    max-width: 467px;
    height: 339px;
    max-height: 339px;

    overflow: auto;

    padding: 39px 36px 5px;

    border-right: 1px solid white;
    background-color: rgba(0,0,0,0.4);

    box-sizing: border-box;
}
.chapter-images__caption__title {
    font-size: 24px;
    padding-bottom: 17px;
}
.chapter-images__caption__description, .chapter-images__caption__credits {
    line-height: 1.4em;
}
.chapter-images__caption__description {
    font-size: 14px;
    padding-bottom: 30px;
}
.chapter-images__caption__credits {
    font-size: 12px;
}

#chapter-click-handler-top, #chapter-click-handler-bottom {
    position: absolute;
    left: 0; right: 0;
    height: 50vh;
}
#chapter-click-handler-top {
    top: 0;
    cursor: n-resize;
}
#chapter-click-handler-bottom {
    bottom: 0;
    cursor: s-resize;
}

.chapter-images__bg {
    position: fixed;
    top: 0; bottom: 0;
    left:0; right: 0;

    z-index: 0;
    opacity: 0;

    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: transparent;

    @include transition(opacity $bg-transition-speed linear);

    &.active {
        opacity: $bg-opacity !important;
    }
    &.active-up {
        @include animation(fadeInImageUp $bg-transition-speed forwards);
    }
    &.active-down {
        @include animation(fadeInImageDown $bg-transition-speed forwards);
    }
    &.inactive-up {
        @include animation(fadeOutImageUp $bg-transition-speed forwards);
    }
    &.inactive-down {
        @include animation(fadeOutImageDown $bg-transition-speed forwards);
    }
}

@media (max-width: $mobile-width) {
    #chapter-images__controls {
        right: 25px;
        bottom: 15px;
    }
    .chapter-images__caption {
        display: none;
    }
    #chapter-click-handler-top, #chapter-click-handler-bottom {
        display: none;
        visibility: hidden;
    }
}

@include keyframes(fadeOutImageUp) {
    from {
        @include transform(translateY(0));
    }
    to {
        @include transform(translateY(-100%));
    }
}
@include keyframes(fadeOutImageDown) {
    from {
        @include transform(translateY(0));
    }
    to {
        @include transform(translateY(100%));
    }
}


@include keyframes(fadeInImageUp) {
    from {
        @include transform(translateY(100%));
    }
    to {
        @include transform(translateY(0));
    }
}
@include keyframes(fadeInImageDown) {
    from {
        @include transform(translateY(-100%));
    }
    to {
        @include transform(translateY(0));
    }
}



