#galaxy-svg {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    z-index: 0;
    opacity: 0;

    animation: fadeInGalaxy 1.2s forwards;
    animation-delay: 0s;
}

.pulse-circle {
    height: 7px;
    width: 7px;

    border: 3px solid #999;
    border-radius: 100px;
    animation: pulsate 4s ease-out;
    animation-iteration-count: infinite;

    opacity: 1;
}

.swell-circle {
    animation: swellSelected 1.7s infinite;
}

.glow-circle {
    animation: glowSelected 1.2s infinite;
}

@-webkit-keyframes swellSelected {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(9);
    }
}

.draw-path {
    animation: remove-offset 5s ease-in forwards;
}

@keyframes remove-offset {
    to {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes fadeInGalaxy {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
