@import '../../../sass/mixins/_mixins';

#galaxy-svg {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    opacity: 0;

    @include animation(fadeInGalaxy 1.2s forwards);
    @include animation-delay(0s);
}

.pulse-circle {
    height: 7px;
    width: 7px;

    border: 3px solid #999;
    @include border-radius(100px);

    opacity: 1;
    @include animation(pulsate 4s ease-out infinite);
}

.swell-circle {
    @include animation(swellSelected 1.7s infinite);
}

.glow-circle {
    @include animation(glowSelected 1.2s infinite);
}

@include keyframes(swellSelected) {
    0% {
        @include transform(scale(1));
    }
    50% {
        @include transform(scale(0.7));
    }
    100% {
        @include transform(scale(1));
    }
}

@include keyframes(pulsate) {
    0% {
        opacity: 1;
        @include transform(scale(1));
    }
    100% {
        opacity: 0;
        @include transform(scale(9));
    }
}

.draw-path {
    @include animation(remove-offset 5s ease-in forwards);
}

@include keyframes(remove-offset) {
    to {
        stroke-dashoffset: 0;
    }
}

@include keyframes(fadeInGalaxy) {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
