#galaxy-svg {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    z-index: 1;
}

.pulse-circle {
    height: 7px;
    width: 7px;

    border: 3px solid #999;
    border-radius: 100px;
    animation: pulsate 4s ease-out;
    animation-iteration-count: infinite;

    opacity: 1;
}

.glow-circle {
    animation: glowSelected 1.2s infinite;
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    //50% {
    //    transform: scale(6, 9) rotate(72deg);
    //}
    100% {
        opacity: 0;
        transform: scale(9);
        //transform: scale(6, 9) rotate(572deg);
    }
}

.draw-path {
    animation: remove-offset 3.5s ease-in forwards;
}

@keyframes remove-offset {
    to {
        stroke-dashoffset: 0;
    }
}
