@import '../../../sass/_settings.scss';

#galaxy-container {
    background-color: transparent;
}

#galaxy {
    position: absolute;
    top: 0;  bottom: 0;
    left: $galaxy-info-width;
    right: 0;
    z-index: 1;
}
svg {
    position: absolute;
    top: 0;  bottom: 0;
    left: $galaxy-info-width !important;
}

#galaxy-footer-scroll {
    position: absolute;
    bottom: 43px;
    left: 100px;
}
#galaxy-footer-chapter-controls {
    position: fixed;
    right: 50px;
    bottom: 43px;
    z-index: 20;
}
