@import '../../../sass/_settings.scss';
@import '../../../sass/mixins/_mixins.scss';

$first-stage-animation-speed: 1.2s;
$final-stage-animation-speed: 3s;

#galaxy-container {
    position: relative;
    background-color: transparent;
    height: 100vh;
}

#galaxy, #galaxy-svg {
    position: absolute;
    top: 0;  bottom: 0;
    left: $galaxy-info-width + 100 !important;
}
#galaxy {
    width: 270vw; // must have SVG paper defintion
    right: 0;
    overflow: hidden;
}

#galaxy-objects {
    position: absolute;
    opacity: 0;

    @include animation(fadeInScroll $final-stage-animation-speed forwards);
    @include animation-delay(0.3s);
}
.galaxy-objects__objects {
    position: absolute;
}

#galaxy-footer-scroll {
    position: absolute;
    bottom: 43px;
    left: 100px;
    opacity: 0;
    @include unselectable();

    cursor: pointer;
    @include animation(fadeInScroll $first-stage-animation-speed forwards);
    @include animation-delay(0.6s);

}
#galaxy-footer-chapter-controls {
    position: fixed;
    right: 50px;
    bottom: 19px;
    opacity: 0;

    @include animation(fadeInNavigation $first-stage-animation-speed forwards);
    @include animation-delay(0.8s);
}

.chapter-control-button {
    display: inline-block;
    margin: 0 6px;

    &:last-of-type {
        margin-right: 0;
    }
}

@include keyframes(fadeInScroll){
    from {
        opacity: 0;
        @include transform(translate(-20px));
    }
    to {
        opacity: 1;
        @include transform(translate(0));
    }
}

@include keyframes(fadeInNavigation) {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: $mobile-width) {
    #galaxy {
        width: auto;
        height: 400vh;
    }
    #galaxy, #galaxy-svg {
        left: 0 !important; // override paper
        top: 100vh !important; // override paper
    }
    #galaxy-objects, #galaxy-footer-scroll, #galaxy-footer-chapter-controls {
        opacity: 1;
        @include animation(none !important);
    }
    #galaxy-footer-scroll {
        opacity: 1;
        right: 0;
        bottom: 24px;
        left: inherit;
        @include transform(rotate(90deg) translate(-50%, -100%))
    }
}
